<script type="text/javascript">
$(document).ready(function(){
  $('#groups').dataTable({
       SpaginationType: "full_numbers" ,
       bJQueryUI: true,
       bDestroy: true
   });
});
</script>
<div class="container">
<table id="groups" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Contact</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name.titleize%></td>
        <td><%= group.status %></td>
        <td><%= group.contact %></td>
        <td><%= link_to edit_icon, edit_group_path(group), remote: true %></td>
        <td><%= link_to delete_icon, group, method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="pull-right">
<%#= link_to 'New Group', new_group_path, class: 'btn btn-success' %>

<%= link_to "Create Group", new_group_path, :class => "btn", :remote => true, class: "btn btn-info" %>
</div>
</div>
<div id="myModal" class="modal fade custom"></div>


